<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appSettings>
        <add key="SQL_CON_STR" value="Data Source=ANS-ASIA-SRV\SQL2016;Initial Catalog=TOSMAC_DB_TEST;user=sa;password=qwert990099/*-"/>
        <add key="DBG_LOG_PTH" value="E:\BINHNN\Project\TOSMAC\02_Sourcecode\TOSMAC\services\WcfServiceTM\WcfServiceTM\debug_log"/>
        <add key="ERR_LOG_PTH" value="E:\BINHNN\Project\TOSMAC\02_Sourcecode\TOSMAC\services\WcfServiceTM\WcfServiceTM\error_log"/>
        <add key="FIL_SAV_PTH" value="E:\BINHNN\Project\TOSMAC\02_Sourcecode\TOSMAC\public\download"/>
        <add key="FIL_TEM_EXL" value="E:\BINHNN\Project\TOSMAC\02_Sourcecode\TOSMAC\services\WcfServiceTM\WcfServiceTM\template"/>
	</appSettings>

	<system.web>
		<compilation debug="true" strict="false" explicit="true" targetFramework="4.5.2" />
		<httpRuntime targetFramework="4.5.2"/>
		<customErrors mode="Off"/>
	</system.web>
	<system.serviceModel>
		<bindings>
          <basicHttpBinding>
            <binding maxBufferPoolSize="2147483647"
                     maxBufferSize="2147483647"
                     maxReceivedMessageSize="2147483647">
              <readerQuotas maxDepth="2147483647"
                            maxStringContentLength="2147483647"
                            maxArrayLength="2147483647"
                            maxBytesPerRead="2147483647"
                            maxNameTableCharCount="2147483647" />
              <security mode="None" />
            </binding>
          </basicHttpBinding>
        </bindings>

        <behaviors>
             <endpointBehaviors>
                <behavior>
                  <dataContractSerializer maxItemsInObjectGraph="2147483647" />
                </behavior>
              </endpointBehaviors>
			<!--<serviceBehaviors>
				<behavior>
					--><!-- To avoid disclosing metadata information, set the values below to false before deployment --><!--
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
					--><!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information --><!--
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>
			</serviceBehaviors>-->
            <serviceBehaviors>
                <behavior name="">
                  <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                  <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
             </serviceBehaviors>
		</behaviors>

		<protocolMapping>
			<add binding="basicHttpsBinding" scheme="https"/>
		</protocolMapping>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
	</system.serviceModel>

	<system.webServer>
		<directoryBrowse enabled="true" />
		<handlers>
			<add name="SvcHandler" path="*.svc" verb="*" type="System.ServiceModel.Activation.HttpHandler" />
		</handlers>
	</system.webServer>

</configuration>
